

/*By default, flex items are laid out in the order you
input them. However, the order property can control
the order in which they appear inside 
the flex container.*/

.item {
  order: <integer>;
}

/*flex-grow*/

/*This defines the ability for a flex item to grow if necessary.
 It accepts a unitless value that serves as a proportion.
 It dictates what amount of the available space inside the 
flex container the item should take up. If all items have 
flex-grow set to 1, the remaining space in the container will 
be distributed equally to all children. If one of the 
children a value of 2, the remaining space would 
take up twice as much space as the others. It is rather 
confusing, and I don't fully understand it.*/

.item {
  flex-grow: <number>;
}


/*flex-shrink*/
/*This defines the ability for a flex item to shrink if necessary.
I understand it as poorly as the above.*/
.item {
  flex-shrink: <number>; /* default 1 */
}


/*flex-basis*/

/*This defines the default size of an element
before the remaining space is distributed. 
It can be a length (50%%, 5rem, etc.) or a keyword,
but the most common keyword was apparently deprecated recently,
so probably don't use it for now.*/
/* (default is auto) */
.item {
  flex-basis: <length> | auto; 
}
If set to 0, the extra space around content isn't factored in. If set to auto, the extra space is distributed based on its flex-grow value. See this graphic.

/*flex*/
/*This is the shorthand for flex-grow, flex-shrink and 
flex-basis combined. Flex-shrink and flex-basis aren't required.
(Default is 0 1 auto)
It is highly recommended that you use the shorthand instead
of setting them individually*/

.item {
  flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
}

align-self

This allows the default alignment (or the one specified by align-items) to be overridden for individual flex items.

Please see the align-items explanation to understand the available values.

.item {
  align-self: auto | flex-start | flex-end | center | baseline | stretch;
}
Note that float, clear and vertical-align have no effect on a flex item.

